{{define "header"}}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
        {{if .User}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{end}}
    </ul>
</nav>
{{end}}

{{define "admin_header"}}
<nav>
    <ul>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/posts">Manage Posts</a></li>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/comments">Manage Comments</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
{{end}}